[submodule ".vim/pack/onedark/opt/onedark.vim"]
	path = .vim/pack/onedark/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule ".vim/pack/plugins/start/lightline"]
	path = .vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
