/* -- Global rules -- */
* {
  border: none;
  font-family: "PlemolJP Console NF";
  font-size: 14px;
  min-height: 10px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  opacity: 1;
}

window#waybar.hidden {
  opacity: 0;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
}

/* -- General rules for visible modules -- */
#clock,
#cpu,
#memory,
#tray,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-lyrics {
  background-color: #232934;
  color: #e8e2d6;
  margin-top: 8px;
  padding: 4px 12px;
  transition: none;
  border: 1px solid #384153;
  opacity: 0.8;
}

/* -- Island group separations -- */

/* Left side - group starts */
#cpu {
  margin-left: 4px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
}

#tray {
  margin-left: 4px;
  border-radius: 8px;
}

/* Right side - group starts */
#custom-lyrics {
  border-radius: 8px;
}

#pulseaudio {
  margin-left: 4px;
  border-radius: 8px;
}

#battery {
  margin-left: 4px;
  border-radius: 8px;
}

#network {
  margin-left: 4px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
}

/* Group ends */
#memory {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#bluetooth {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#clock {
  margin-left: 4px;
  margin-right: 8px;
  border-radius: 8px;
}

/* -- Specific module styles -- */

#battery.charging,
#battery.plugged {
  color: #232934;
  background-color: #bbcacb;
  border-color: #bbcacb;
}

#battery.warning:not(.charging) {
  color: #232934;
  background-color: #d4af8d;
  border-color: #d4af8d;
}

@keyframes blink {
  to {
    color: #232934;
    background-color: #c66471;
  }
}

#battery.critical:not(.charging) {
  color: #232934;
  background-color: #d4af8d;
  border-color: #d4af8d;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  color: #232934;
  background-color: #c66471;
  border-color: #c66471;
}

#pulseaudio.muted {
  color: #232934;
  background-color: #b3b8c2;
  border-color: #b3b8c2;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}

/* -- Hover effects -- */
#cpu:hover,
#memory:hover,
#tray:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#clock:hover {
  color: #232934;
  border-color: #dfc2ba;
  background: #dfc2ba;
}
