/* -- Global rules -- */
* {
  border: none;
  font-family: "x12y12pxMaruMinyaM";
  font-size: 13px;
}

window#waybar {
  background: #000;
  opacity: 1;
}

window#waybar.hidden {
  opacity: 0;
}

/* -- General rules for visible modules -- */
#clock,
#cpu,
#memory,
#tray,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-lyrics {
  color: #fff;
  padding: 2px 8px;
}

/* -- Specific module styles -- */

#battery.charging,
#battery.plugged {
  color: #232934;
  background-color: #bbcacb;
  border-color: #bbcacb;
}

#battery.warning:not(.charging) {
  color: #232934;
  background-color: #d4af8d;
  border-color: #d4af8d;
}

@keyframes blink {
  to {
    color: #232934;
    background-color: #c66471;
  }
}

#battery.critical:not(.charging) {
  color: #232934;
  background-color: #d4af8d;
  border-color: #d4af8d;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  color: #232934;
  background-color: #c66471;
  border-color: #c66471;
}

#pulseaudio.muted {
  color: #232934;
  background-color: #b3b8c2;
  border-color: #b3b8c2;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}

/* -- Hover effects -- */
#cpu:hover,
#memory:hover,
#custom-lyrics:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#clock:hover {
  color: #232934;
  border-color: #dfc2ba;
  background: #dfc2ba;
}
