* {
  font-family: BIZTER;
  font-size: 15px;
  color: @fg_color;
  border: none;
}

window {
  margin: 0;
  border-radius: 4px;
  background-color: @theme_base_color;
}

#outer-box {
  margin: 12px;
}

#input {
  margin-bottom: 8px;
  padding: 2px 6px;
  background-color: @bg_color;
}

#entry {
  margin: 2px 0;
}

#entry:selected {
  background-color: @unfocused_borders;
}

#selected #text {
  background-color: @unfocused_borders;
}
