# 依存関係
[[plugins]]
repo = "vim-denops/denops.vim"
hook_source = """
let g:denops#deno = exepath("deno")
"""

[[plugins]]
repo = "nvim-treesitter/nvim-treesitter"
build = ":TSUpdate"
lua_source = """
require("config.treesitter")
"""

[[plugins]]
repo = "vim-jp/vimdoc-ja"

[[plugins]]
repo = "nvim-lua/plenary.nvim"

[[plugins]]
repo = "folke/snacks.nvim"

# dpp.vim
[[plugins]]
repo = "Shougo/dpp-ext-installer"

[[plugins]]
repo = "Shougo/dpp-ext-toml"

[[plugins]]
repo = "Shougo/dpp-protocol-git"

[[plugins]]
repo = "Shougo/dpp-ext-lazy"

# colorscheme
[[plugins]]
repo = "arrow2nd/minai"
hook_source = """
colorscheme minai
"""

# いろいろ
[[plugins]]
repo = "echasnovski/mini.nvim"
lua_source = """
require("config.mini")
"""

[[plugins]]
repo = "ryoppippi/vim-bun-lock"
rev = "lua"

# ファジーファインダ
[[plugins]]
repo = "nvim-telescope/telescope.nvim"
rev = "v0.2.0"
depends = ["plenary.nvim", "telescope-ui-select.nvim", "kensaku.vim"]
on_cmd = ["Telescope"]
lua_source = """
require("config.telescope")
"""

[[plugins]]
repo = "nvim-telescope/telescope-ui-select.nvim"

[[plugins]]
repo = "lambdalisue/kensaku.vim"
depends = ["denops.vim"]

[[plugins]]
repo = "Allianaab2m/telescope-kensaku.nvim"
depends = ["kensaku.vim"]

# ターミナル系
[[plugins]]
repo = "akinsho/toggleterm.nvim"
lua_source = """
require("config.toggleterm")
"""

# 移動系
[[plugins]]
repo = "tkmpypy/chowcho.nvim"
lua_source = """
require("config.chowcho")
"""

[[plugins]]
repo = "yuki-yano/fuzzy-motion.vim"
depends = ["denops.vim"]
lua_source = """
local h = require("util.helper")
h.nmap("<C-j>", "<CMD>FuzzyMotion<CR>")
"""

# 編集系
[[plugins]]
repo = "windwp/nvim-ts-autotag"
lua_source = """
require('nvim-ts-autotag').setup()
"""

[[plugins]]
repo = "JoosepAlviste/nvim-ts-context-commentstring"
lua_source = """
require("ts_context_commentstring").setup({
  enable_autocmd = false,
})
"""

[[plugins]]
repo = "numToStr/Comment.nvim"
lua_source = """
require('Comment').setup {
  pre_hook = require('ts_context_commentstring.integrations.comment_nvim').create_pre_hook(),
}
"""

[[plugins]]
repo = "monaqa/dial.nvim"
lua_source = """
require("config.dial")
"""

# 翻訳
[[plugins]]
repo = "skanehira/denops-translate.vim"
depends = ["denops.vim"]
lua_source = """
local h = require("util.helper")
h.xmap("<Leader>t", "<Plug>(Translate)")
"""

# Markdownプレビュー
[[plugins]]
repo = "kat0h/bufpreview.vim"
depends = ["denops.vim"]
build = "deno task prepare"

# AI支援
[[plugins]]
repo = "folke/sidekick.nvim"
lua_source = """
require("config.sidekick")
"""
