window {
	background-image: url("/home/arrow2nd/Pictures/Wallpapers/52263458255_19c9b6f336_o.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #232934;
}
