window {
	background-image: url("/home/arrow2nd/Pictures/Wallpapers/JpbRcFJRfiABMP3Lj1Cads1F.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #232934;
}
